*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a{
text-decoration: none;
color: #000;

}
.navbar ul{
  background-color: transparent;
  display: flex;
  justify-content:space-around ;
  list-style: none;
  padding:  10px;
  margin: 0;
}

.navbar { 
   border-top: #000 2px solid;
  width: 100%;
  position:fixed;
  bottom: 0;
}
.navbar li:active{

  transform: scale(.80);
  color: #FF7500;
}
.navbar li{

  font-weight: 600;
  font-size: 30px;
  margin-top: 25px;

}

.btn {
  color: #000;
  transition:font-size 0.3s;
    margin-top: 20px;
  border: none;
}

/* estado ativo */

.btn.active ion-icon{
  color: #FF7500;
   font-size: 30px;
}